*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f3eeee;
    overflow-x:hidden;
    font-family:Arial,sans-serif;
}

/* TITLE */

.title{

    position:fixed;

    top:15px;
    left:50%;

    transform:translateX(-50%);

    z-index:1000;

    font-size:60px;
    font-weight:bold;

    color:white;

    letter-spacing:4px;

    text-shadow:0 0 20px rgba(0,0,0,0.5);

    pointer-events:none;
}

/* BIG CENTER IMAGE */

.center-image{

    position:fixed;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    width:520px;
    height:520px;

    border-radius:50%;

    overflow:hidden;

    z-index:999;

    border:1px solid white;

    box-shadow:0 20px 50px rgba(0,0,0,0.35);
}

.center-image img{

    width:100%;
    height:100%;

    object-fit:cover;

    display:block;
}

/* GALLERY */

.gallery{

    width:100%;

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    grid-auto-rows:180px;

    gap:0;

    padding:0;
}

/* IMAGE BOX */

.item{

    width:100%;
    height:100%;

    overflow:hidden;

    border-radius:0;

    box-shadow:none;

    transition:.3s;
}

.item:hover{

    transform:scale(1.02);

    z-index:10;
}

.item img{

    width:100%;
    height:100%;

    object-fit:cover;

    display:block;
}

/* DIFFERENT IMAGE SIZES */

.big{
    grid-column:span 2;
    grid-row:span 2;
}

.tall{
    grid-row:span 3;
}

.medium{
    grid-row:span 2;
}

.wide{
    grid-column:span 2;
}

/* MOBILE VERSION */

@media(max-width:768px){

    body{
        overflow-x:hidden;
    }

    /* MOBILE GALLERY */

    .gallery{

        width:100%;

        grid-template-columns:1fr 1fr;

        grid-auto-rows:90px;

        gap:0;

        padding:0;
    }

    /* IMAGE STYLE */

    .item{

        width:100%;
        height:100%;

        overflow:hidden;

        margin:0;

        border-radius:0;
    }

    .item img{

        width:100%;
        height:100%;

        object-fit:cover;

        display:block;
    }

    /* DIFFERENT MOBILE SIZES */

    .big{

        grid-column:span 2;
        grid-row:span 3;
    }

    .medium{

        grid-row:span 2;
    }

    .tall{

        grid-row:span 4;
    }

    .wide{

        grid-column:span 2;
        grid-row:span 2;
    }

    /* CENTER IMAGE */

    .center-image{

        width:260px;
        height:260px;

        border-radius:50%;

        border:1px solid white;

        top:50%;
        left:50%;

        transform:translate(-50%,-50%);

        z-index:999;
    }

    /* TITLE */

    .title{

        font-size:34px;

        width:100%;

        text-align:center;

        top:10px;
    }

}